* {
    margin: 0;
    padding: 0;
    border: none;
}
a {
    text-decoration: none;
}
html {
    scroll-behavior: smooth;
}
body {
    font-family: "DM Sans", sans-serif;
    background: #191919;
    /*overflow: hidden;*/
}
::-webkit-scrollbar {
    width: 10px;
}
::-webkit-slider-runnable-track {
    background: yellow;
}
::-webkit-scrollbar-thumb {
    background: #ff0032;
    border-radius: 20px;
}

.container {
    width:90% ;
    margin: 0 auto;
}
#header {
    padding: 20px 0;
    position: sticky;
    top: 0;
    background: rgba(25, 25, 25, 0.61);
    backdrop-filter: blur(4px);
    z-index: 99;
}
.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.header h1 {
   font-size: 35px;
    color:white;
    font-weight: 800;
}
.header-nav a {
    font-weight: 400;
    font-size: 17px;
    color: #FFFF;
    margin: 0 30px;
}
.header-nav a:hover {
    color: #118DA8;
}

/*hero*/
#hero {
    padding: 20px 0;
}
.hero {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 1200px;
}
.hero-title h1 {
    font-weight: 400;
    font-size: 60px;
    line-height: 88px;
    letter-spacing: 3.2px;
    color: #FFFFFF;
    padding-bottom: 80px;

}
.hero-title h1 span {
    font-weight: 900;
}
.hero-title p {
    font-weight: 400;
    font-size: 15px;
    color: #ffffff;
    padding-bottom: 30px;
}
.hero-title-icon a {
   margin-right: 20px;
}

/*blocks*/

#blocks {
    padding: 60px 0;
}
.blocks-title {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 100px 0px;
}
.blocks-title h1 {
    font-weight: 400;
    font-size: 64px;
    letter-spacing: 2.88px;
    color: #FFFFFF
}
.blocks-title button {
    padding: 15px 40px;
    background: #118DA8;
    border-radius: 6px;
    font-weight: 400;
    font-size: 17px;
    color: #FFFFFF;
    transition: 3s;
}
.blocks-title button:hover {
    background: transparent;
    border: 2px solid #118DA8;
    transform: scale(1.1);
}

.blocks {
    padding: 40px 0;
}
.blocks {
    width: 1300px;
    height: 545px;
    background: #000000;
    border-radius: 32px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin: 50px 0;
}
.block-title h3 {
    font-weight: 400;
    font-size: 18px;
    color: #FFFFFF;
    width: 73px;
    height: 27px;
    background:#191919;
    border-radius: 6px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.block-title h4 {
    font-weight: 400;
    font-size: 17px;
    color: #118DA8;
    padding: 20px 0;
}
.block-title h1 {
    font-weight: 400;
    font-size: 64px;
    line-height: 70px;
    letter-spacing: 2.56px;
    color: #FFFFFF;

}
.block-title p {
    font-weight: 400;
    font-size: 22px;
    line-height: 33px;
    color: rgba(255, 255, 255, 0.7);
    padding: 20px 0;
}
.block-title button {
    padding: 15px 35px;
    background: #118DA8;
    border-radius: 6px;
    font-weight: 400;
    font-size: 18px;
    color: #fffdfd;
}

/*jacob*/
#jacob {
    padding: 50px 0;

}
.jacob {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.jacob-icon {
    width: 112px;
    height: 112px;
    background: #118DA8;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.jacob-icon a {
    font-size: 50px ;
    color: #ffffff;
}
.jacob-title h4 {
    font-size: 18px;
    color: #0071c0;
    padding: 30px 0;
}
.jacob-title h1 {
    font-weight: 400;
    font-size: 65px;
    letter-spacing: 2.88px;
    color: #FFFFFF;
    padding-bottom: 30px;
}
.jacob-title p {
    font-weight: 400;
    font-size: 22px;
    line-height: 33px;
    color: rgba(255, 255, 255, 0.7);
}

/*fit*/
#fit {
    padding: 50px 0;
    perspective: revert;
}
.fit {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.fit-title{
    background: #000;
    width: 95%;
    height: 350px;
    border-radius: 15px;
}
.fit-title h3 {
    font-weight: 400;
    font-size: 18px;
    line-height: 27px;
    color: #118DA8;
    padding: 30px 25px;
}
.fit-title h1 {
    font-weight: 400;
    font-size: 72px;
    line-height: 79px;
    letter-spacing: 2.88px;
    color: #FFFFFF;
    padding: 10px 25px;
}

.fit-title  {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    /*background: #191919;*/
    border: 1px solid #191919;
    border-radius: 6px;
}
#icon {
    padding: 50px 0;
    perspective: revert;
}

/*cards*/

#cards {
    padding: 50px 20px;
}
.cards {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
}
.card {
    width: 400px;
    height: 321px;
    background: #000000;
    border-radius: 32px;
    padding-left: 20px;
    margin: 20px 0;
}
.stars {
    display: flex;
    padding: 20px 0 ;
}
.star {
    clip-path: polygon(50% 0%, 61% 35%, 98% 35%, 68% 57%, 79% 91%, 50% 70%, 21% 91%, 32% 57%, 2% 35%, 39% 35%);
    width: 25px;
    height: 25px;
    background: yellow;
    margin-right: 10px;
}
.card h1{
    font-weight: 400;
    font-size: 36px;
    line-height: 43px;
    color: #FFFFFF;
    /*padding-bottom: 20px;*/
}
.card p {
    font-weight: 400;
    font-size: 24px;
    color: rgba(255, 255, 255, 0.7);
}
